:root {
  --color-lima: #CCFE64;
  --color-blue: #4E47FF;
  --color-magenta: #FF12DC;
  --color-white: #ffffff;
  --gray-disabled-bt: #9395B2;
  --font-nunito-sans: 'Nunito Sans', sans-serif;
  --font-readex-pro: 'Readex Pro', sans-serif;
  --gray-text: #545566;
  --helper-text: #6E718C;
  --gray-disabled-text: #6E718C;
  --gray-disabled-text-light: #C5C6D6;
  --success: #CCFE64;
  --error-text: #F44E50;
  --blue-text: #070F35
}

/* Aplica estilos globales */
body {
  margin: 0;
  padding: 0;
  background-color: #11153d;
  color: var(--text-color);
  line-height: 1.6;
}

/* Breakpoints */

/* Estilos para mobile: 600px y menos */
@media (max-width: 600px) {
  body {
    width: 100%;
  }
}

/* Estilos para tablet: 601px - 1439px */
@media (min-width: 601px) and (max-width: 1439px) {
  body {
    margin: 0 auto;
  }
}

/* Estilos para desktop: 1440px y más */
@media (min-width: 1440px) {
  body {
    margin: 0 auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  /* color: var(--primary-color); */
  margin-top: 0;
}

a {
  /* color: var(--primary-color); */
  /* text-decoration: none; */
}

a:hover {
  text-decoration: underline;
}


.visually-hidden {
  display: none;
}

.titulo-xxl {
  font-family: var(--font-readex-pro);
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -2.4px
}

.titulo-xl {
  font-family: var(--font-readex-pro);
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.titulo-l {
  font-family: var(--font-readex-pro);
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.titulo-s {
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.p-xxl-ligth {
  font-family: var(--font-readex-pro);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.p-xxl {
  font-family: var(--font-readex-pro);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%
}

.p-xl {
  font-family: var(--font-readex-pro);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -1.2px;
}

.p-l {
  font-family: var(--font-readex-pro);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.p-m {
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.p-nav {
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.p-card-small-title {
  color: var(--blue-text);
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.p-card-small {
  color: var(--gray-text);
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.p-boton {
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.color-lima {
  color: var(--color-lima)
}

.color-white {
  color: var(--color-white)
}

.color-grey {
  color: var(--gray-text)
}

.color-blue {
  color: var(--color-blue)
}

.color-blue-text {
  color: var(--blue-text)
}

.button-lima {
  border-radius: 34px;
  border: 3px solid var(--color-lima);
  width: 280px;
  height: 56px;
  padding: 14px 22px;
  color: var(--color-white);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-blue {
  border-radius: 34px;
  border: 3px solid var(--color-blue);
  width: 280px;
  height: 56px;
  padding: 14px 22px;
  color: var(--color-white);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  box-shadow: -4px 5px 8px 0px rgba(78, 71, 255, 0.10);
  border-radius: 34px;
  background-color: var(--color-white);
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
}

.card-title {
  display: inline-block;
  color: var(--blue-text);
  font-family: var(--font-nunito-sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.card-text {
  display: inline-block;
  color: var(--gray-text);
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-photo {
  border-radius: 110px;
}

.background-image-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background-image: url('/images/Back-bloque-1.svg');
  background-size: cover;
  /* or contain, depending on your design needs */
  background-position: center;
  /* to center the image */
  background-repeat: no-repeat;
  /* to avoid repeating the image */
  height: 1400px;
  width: 100%;
  /* make sure the section takes up the full height */
}

.background-image-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background-image: url('/images/back-bloque-2.svg');
  background-size: cover;
  /* or contain, depending on your design needs */
  background-position: center;
  /* to center the image */
  background-repeat: no-repeat;
  /* to avoid repeating the image */
  height: 1500px;
  width: 100%;
  /* make sure the section takes up the full height */
}

.section-container {
  max-width: 1440px;
  padding: 0px 120px;
  /* border: 2px solid red; */
}

.mb-24 {
  margin-bottom: 24px;
}

.card-container-small {
  box-shadow: -4px 5px 8px 0px rgba(78, 71, 255, 0.10);
  border-radius: 34px;
  background-color: var(--color-white);
  padding: 40px 32px 0 32px;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;

}

.mt-100 {
  margin-top: 100px;
}