.header {
  background-color: var(--backgroud-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0px;
}

.logo img {
  width: 176px;
  height: auto;
  /* Para mantener el aspect ratio */
}

@media (max-width: 1024px) {

  /* Tablets */
  .logo img {
    width: 140px;
    height: auto;
  }
}

@media (max-width: 768px) {

  /* Móviles */
  .logo img {
    width: 120px;
    height: auto;
  }
}

.nav {
  display: flex;
  gap: 20px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navList li {
  margin: 0;
  position: relative;
}

.navList li a {
  text-decoration: none;
  color: var(--color-white);
}

.navList li a:hover {
  color: var(--color-lima);
}

.menuIcon {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
}

.active .pNav {
  color: var(--color-lima);
}

.active .menuIcon {
  opacity: 1;
}

.navList li:not(.active) .menuIcon {
  opacity: 0;
}

.languageSwitch {
  display: flex;
  gap: 10px;
}

.languageSwitch a {
  color: var(--color-lima);
  text-decoration: none;
  font-weight: bold;
}

.languageSwitch a:hover {
  text-decoration: underline;
}

.pNav {
  color: var(--color-white);
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.14px;
}