/* styles/languageSwitcher.module.css */
.languageSwitcher {
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  margin-right: 30px;
}

.languageSwitcher button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #b5b5b5;
  transition: color 0.3s ease;
}

.languageSwitcher button:hover,
.languageSwitcher button:focus, .limaColor {
  color: #c3ff4d;
  /* Color para el hover */
}

.languageSwitcher .active {
  color: #c3ff4d;
  /* Color cuando está activo */
}

/* .languageSwitcher span {
  margin: 0 0.5rem;
  color: #b5b5b5;
} */