.languageSwitcher {
  background: none;
  border: none;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  color: white;
  position: relative;
  z-index: 20;
}

.separator {
  margin: 0 8px;
  color: var(--color-lima);
}

.active {
  color: var(--color-lima);
  font-weight: bold;
}