/* .minWidth {
  max-width: 1440px;
  margin: 0 auto;
} */

.bgVector1 {
  background: transparent;
  background-image: url('/images/vector-1.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 560px;
  width: 100%;
}

.bgVector2 {
  background: transparent;
  background-image: url('/images/vector-2-arrow.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 86%;
}

.bgVector3 {
  background: transparent;
  background-image: url('/images/vector-3.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 560px;
  width: 100%;
}

.auitoryIcon {
  border-radius: 9px;
  background: #1A194C;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.strategyIcon {
  border-radius: 9px;
  background: #4542CC;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

}

.legalIcon {
  border-radius: 9px;
  background: #FF12DC;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

}